@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --highlight: rgb(250, 204, 21); /* yellow-400 */
  --background: rgb(9, 9, 11); /* zinc-950 */
  --dark: rgb(55, 65, 81); /* gray-700 */
  --light: rgb(243, 244, 246); /* gray-100 */
}

body {
  @apply text-light bg-background;
}

main {
  @apply p-8;
}

@layer components {
  .button {
    @apply p-4 bg-background border border-dark rounded-lg focus:ring-1 focus:outline-none focus:ring-highlight hover:border-highlight cursor-pointer;
  }
}
